body {
    width:100%;
    font:14px/1 Arial,sans-serif;
    background: linear-gradient(#58dffa, #45c060,#ffe244,#ea2f05);
}
h2{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-align: center;
    font-size : 40px;
    margin: 0;
  }

  h3{
    color: rgb(0, 0, 0);
    text-align: center;
  }

  p{
    color: rgb(7, 7, 7);
  }